include ./includes/header.pug
    
link(rel="stylesheet" href="/prism.css")
script(defer, src="/prism.js")

.container
  h2=name + ': ' + file
  p='at commit ' + hash
  pre.line-numbers
    code(class="language-" + ext)=content
        
include ./includes/footer.pug