include ./includes/header.pug
include ./includes/filetree.pug

// https://getbootstrap.com/docs/3.3/css/#grid-example-basic

.container
  include ./includes/repohead.pug
  
  h1 Dashboard

  .row
    .col-md-9
      .panel.panel-primary
        .panel-heading Latest commits
        .panel-body
            table(class='table table-hover table-condensed')
              thead
                tr
                  th Author
                  th Message
                  th Date
              tbody
                each row in commits
                  tr
                    td=row.author_name
                    td: a(href='/commits/' + name + '/' + row.hash)=row.message
                    td=row.date

    .col-md-3
      .panel.panel-primary
        .panel-heading Branches
        .panel-body
          table(class='table table-condensed')
            thead
              tr
                th Name
            tbody
              each row in branches
                tr
                  td=row.name

  .row
    .col-md-12
      .panel.panel-primary
          .panel-heading Tree at last commit
          .panel-body
            //h3: a(href='/tree/' + name + '/' + hash)='Tree at last commit'
            p=treeMessage
            +parseDir(pathTree)

        
include ./includes/footer.pug  