include ./includes/header.pug
    
.container
  h1(style='color:red') Error!
  p=text
  ul
    li
      a(href='/') Go back
    li
      a(href='/remrepo/' + name) Remove
        
include ./includes/footer.pug  