include ./includes/header.pug
include ./includes/filetree.pug

.container
  include ./includes/repohead.pug
  h3='Tree at commit ' + hash
  +parseDir(pathTree)
      
        
include ./includes/footer.pug